body {
    font-family: 'Roboto';
    
}

#title{
    background-color:LightGray;
    color: #fff;
}

#footer {
    font-weight: 700;
    background-color: black;
    color: #fff;
    padding-left:20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: black;
}

h2 {
	font-size: 24px;
	color: black;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	color: black;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	color: black;
	font-weight: bold;
}

hr {
	border: 1px solid black;
}

p {
	color: black;
}

th, td {
	color: black;
	padding: 10px;
}

.topit {
	vertical-align: top;
}

.listpara {
	color: black;
}

.colourw {
	color: white;
}

.container-fluid{
    padding: 3% 5%;
}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size:2rem;
    font-weight: bold;
    
}

.nav-item{
    padding: 0 5px;
}

.nav-link{
    font-size:0.9rem;
}

.title-image{
    width:60%;
    transform:rotate(25deg);
}
div.gallery {
    margin: 5px;
    border: 1px #ccc;
    float: left;
    
}
div.gallery1 {
    margin: 5px;
    border: 1px #ccc;
    float: right;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 70%;
        height: auto;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 4px 4px 4px LightGray;
    }

div.desc {
    padding: 15px;
    text-align: center;
    font-weight:bolder;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

/*h1 {
    font-size: 5.626rem;
    font-family: 'Sacramento', cursive;
    margin: 0 auto 0 auto;
    color: #66BFBF;
}*/

u {
    color:yellow
}
.project{
   color:white;
}


/* Small Card for content */
.card {
	margin: 30px;
	padding: 20px 40px 40px;
	max-width: 500px;
	text-align: left;
	background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
}

/* Medium Card for content */
.card2 {
	margin: 30px;
	padding: 20px 40px 40px;
	min-width: 600px;
	max-width: 800px;
	text-align: left;
	background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
}

@media screen and (min-width: 720px) {

	/* Page 1 */
	.pageFrame {
		display: flex;
		max-width: 1200px;
		justify-content: space-around;
		margin: 0 auto;
	}
	
	/* Page 2 */
	.pageFrame2 {
		display: flex;
		max-width: 1200px;
		justify-content: space-around;
		margin: 0 auto;
	}
}